@import '../../node_modules/bootstrap/scss/bootstrap-grid.scss';

.app {

  max-width: 1440px;
  margin: 0 auto;

  header {
    @include make-row();

    h1 {
      @include make-col-ready();
      @include media-breakpoint-up('sm') { @include make-col(12); }
      @include media-breakpoint-up('md') { @include make-col(3); }
    }

    nav {

      @include media-breakpoint-up('sm') { @include make-col(12); }
      @include media-breakpoint-up('md') { @include make-col(9); }

      li {
        display: inline-block;
        padding: 15px;
      }
    }
  }

  main {
    @include make-row();
  }

  footer {
    @include make-row();

    > p {
      @include make-col-ready();
    }
  }
}